.quiz-select-layout{
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 100vh;
}

.quiz-list{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.quiz-card{
margin: 1rem;
width: 15rem;
height: 15rem;
border: 1px solid black;
text-transform: uppercase;
padding: 0 0 0.5rem 0;
border-radius: 10px;
cursor: pointer;
transition: all 0.2s;
}

.quiz-card:hover{
    transform: scale(1.1);
}

.meme-quiz{
    background-color: rgb(196, 7, 0);
    color: white;
}

.food-quiz{
    background-color: rgb(23, 0, 128);
    color: white;
}

.quiz-icon{
    height: 80%;
    width: 100%;
    border-radius: 10px;
}

.quiz-title{
    font-size: 1rem;
    font-weight: 700;
}

