.home-layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.home-btn{
    display: block;
    border: none;
    margin-top: 2rem;
    background-color: rgb(75, 1, 145, 0.8);
    width: max-content;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.home-btn:hover{
    background-color: rgb(75, 1, 145);
}

.name-field-home{
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.171);
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 0.5rem;
}

.name-field-home:focus{
    background-color: rgba(128, 128, 128, 0.1);
}


.welcome-text{
    text-align: center;
    width: 20rem;
    font-size: 1.4rem;
}